In [2]:
import pandas as pd

In [3]:
vine_table = pd.read_csv("vine_table.csv")

In [4]:
vine_table

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N
...,...,...,...,...,...,...
4850355,R1VERHFY08SLZS,1.0,6.0,8.0,N,N
4850356,R34TPFL5ZYSV46,3.0,21.0,29.0,N,N
4850357,R2YECHGBV291H,5.0,1.0,1.0,N,N
4850358,R2Z784CWN7JZ4X,2.0,3.0,4.0,N,N
4850359,R2J13W5P3N2KV4,4.0,18.0,19.0,N,N

In [15]:
filtered_vine_table = vine_table.loc[vine_table["total_votes"] >= 20]

In [17]:
filtered_vine_table.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4850347,R1KGFSPKL3YCGK,4.0,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5.0,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5.0,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5.0,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3.0,21.0,29.0,N,N

In [18]:
filtered_vine_table_2 = filtered_vine_table.loc[filtered_vine_table["helpful_votes"] / filtered_vine_table["total_votes"] >= .5]

In [21]:
filtered_vine_table_2

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4.0,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5.0,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5.0,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5.0,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3.0,21.0,29.0,N,N

In [24]:
filtered_vine_table_y = filtered_vine_table_2.loc[filtered_vine_table_2["vine"] == "Y"]

In [25]:
filtered_vine_table_y

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N
...,...,...,...,...,...,...
4717565,R1WG2F3DZFE301,5.0,51.0,81.0,Y,N
4719313,R3VB53V1VDWPQ2,4.0,104.0,132.0,Y,N
4754150,RCKH2IYVH9PCG,4.0,21.0,21.0,Y,N
4770385,R1OR7JY4MQP6I7,5.0,181.0,188.0,Y,N
4770596,R34IO2BR3JWIIZ,4.0,17.0,20.0,Y,N

In [26]:
filtered_vine_table_n = filtered_vine_table_2.loc[filtered_vine_table_2["vine"] == "N"]

In [27]:
filtered_vine_table_n

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4.0,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5.0,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5.0,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5.0,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3.0,21.0,29.0,N,N

In [32]:
filtered_vine_table_y.count()

review_id            334
star_rating          334
helpful_votes        334
total_votes          334
vine                 334
verified_purchase    334
dtype: int64

In [34]:
filtered_vine_table_y_5 = filtered_vine_table_y.loc[filtered_vine_table_y["star_rating"] >= 5]

In [35]:
filtered_vine_table_y_5.count()

review_id            139
star_rating          139
helpful_votes        139
total_votes          139
vine                 139
verified_purchase    139
dtype: int64

In [36]:
filtered_vine_table_n.count()

review_id            61614
star_rating          61614
helpful_votes        61614
total_votes          61614
vine                 61614
verified_purchase    61614
dtype: int64

In [37]:
filtered_vine_table_n_5 = filtered_vine_table_n.loc[filtered_vine_table_n["star_rating"] >= 5]

In [38]:
filtered_vine_table_n_5.count()

review_id            32665
star_rating          32665
helpful_votes        32665
total_votes          32665
vine                 32665
verified_purchase    32665
dtype: int64

In [47]:
y_5_star_pct = filtered_vine_table_y_5.count() / filtered_vine_table_y.count() * 100

In [48]:
y_5_star_pct

review_id            41.616766
star_rating          41.616766
helpful_votes        41.616766
total_votes          41.616766
vine                 41.616766
verified_purchase    41.616766
dtype: float64

In [45]:
n_5_star_pct = filtered_vine_table_n_5.count() / filtered_vine_table_n.count() *100

In [46]:
n_5_star_pct

review_id            53.015548
star_rating          53.015548
helpful_votes        53.015548
total_votes          53.015548
vine                 53.015548
verified_purchase    53.015548
dtype: float64